@charset "utf-8";
/* CSS Document */
body {
	background-color:#EFEFEF;
}

.card {
    /* Add shadows to create the "card" effect */
	width:40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	background-color:white;
	margin:auto;
	alignment-adjust:central;
}

/* On mouse-over, add a deeper shadow */
/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.login{
	width:50%;
	margin:auto;
	alignment-adjust:central;
	padding:10px
}

.inputText{
	width:100%;
	alignment-adjust:central;
	border-width:1px;
	border-radius:3px;
	border-color:#666;
	margin:auto;
	margin-top:20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
	width:100%;
}
.button:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding-top: 10px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%auto; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100%auto;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
